<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Rick and Morty Wikia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src={{imgUrl}}></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Rick and Morty Wikia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Here you can find everything about Rick and Morty.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
